POSTGRES_DB=metaengine
POSTGRES_USER=metaengine
POSTGRES_PASSWORD=metaengine_dev
POSTGRES_PORT=5432
API_PORT=5080
METAENGINE_ENVIRONMENT=Development
METAENGINE_WORKER_REPLICAS=2
METAENGINE_WORKER_CPU_LIMIT=1.0
METAENGINE_WORKER_MEMORY_LIMIT=2G
